#app {
  display: flex;
  flex-wrap: wrap;
}

#map {
  width: 70%;
}

#info {
  position: relative;
  z-index: 1;
  width: 30%;
}

@media screen and (max-width: 700px) {
  #map {
    order: 0;
    width: 100%;
  }

  #info {
    width: 100%;
  }
}